.check-order-list {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.check-total {
    position: relative;
    left: 450px;
}

.table {
    border-collapse: separate;
    border-spacing: 5px 0;
}

.td {
    padding: 10px 0;

}

.Check_Order-container {
    margin: 5rem 300px 0 300px;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    background-color: #d8ecf5;
    border-radius: 2rem;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.check-order-frame {
    background-color: #ffffff;
    border-radius: 2rem;
    width: 80%;
    margin-bottom: 2rem;
    display: flex;
    top: 50px;
}

.Check_Order-header h3 {
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-weight: bold;
}

.Check_Order-footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    padding: 0px;
    margin-top: 20px;
    box-sizing: border-box;
}

.Check_Order-button-back {
    background-color: #179ad3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
}

.Check_Order-button-next {
    background-color: #179ad3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
}

.Check_Order-button-back:hover {
    background-color: red;
    transition: 200ms;
}

.Check_Order-button-next:hover {
    background-color: green;
    transition: 200ms;
}