.profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.profile-div {
    display: flex;
    padding: 2rem;
    margin: 2rem auto auto auto;
    background-color: #d8ecf5;
    height: 800px;
    width: 1200px;
    border-radius: 2rem;
    justify-content: space-evenly;
}

.create-staff-form {
    display: flex;
    flex-direction: column;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin: 7.5rem 2rem 2rem 3rem;
}