.homepage-img {
    max-width: 85%;
    max-height: 85%;
    padding: 10px;
    border-radius: 2rem;
}

.homepage-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;

}

.error-page {
    width:100%;
    padding: 100px;
    display: flex;
    text-align: center;
    flex-direction: row;

}