.hand-icon {
    cursor: pointer;
}

.btn-info {
    background-color: #179ad3;
}

.about-us {
    width: 650px;
}

.contact-info {
    border-radius: 40px;
    background: #179ad3;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    position: absolute
}

.text-bg {
    border-radius: 40px;
    background: #179ad3;
}

.feed-frame {
    border-radius: 40px;
    background: #179ad3;
    padding: 10px;
    width: 600px;
    height: 600px;
}

.vertical-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 85%;
    max-height: 85%;
    padding: 10px;
}

.nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: black;
}

.nav-hover:hover {
    border-radius: 2rem;
    color: #9afe00;
}


.site-title {
    font-size: 1.5rem;
    font-weight: bold;
}