.invitation-draft-frame {
    display: flex;
    margin: 10px auto 20px auto;
    background-color: #d8ecf5;
    height: 90%;
    width: 1000px;
    border-radius: 2rem;
    flex-direction: column;
    padding: 3rem;
}

.invitation-draft-inner-frame {
    display: flex;
    margin: auto;
    margin-top: 20px;
    height: 90%;
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

.draft-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.invitation-draft-h1 {
    font-weight: bold;
}

.order-being-confirmed-footer {
    /* display: inline-block; */
    flex-direction: row;
    justify-content: center;
    align-items: right;

}

.btn-invitationdraftcust {
    width: 100px;
    margin: auto;
    background-color: #53c46d;
    justify-content: space-between;
    align-items: center;
}

.button-Filechosen {
    width: 300px;
    height: 50px;
    margin: auto;
    background-color: #53c46d;
    justify-content: space-between;
    align-items: center;
}

.button-updatepicture {
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: #53c46d;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.button-backinvitation {
    width: 200px;
    height: 50px;
    margin: auto;
    background-color: #53c46d;
    align-items: center;
    /* display: block; */

}

.invitationdraft_form {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 1rem;
    align-items: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    transform:translateY(-60px);
}
