@import url("https://cdn.syncfusion.com/ej2/material.css");

.Order_Form_7 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.datepicker-control-section {
    max-width: 246px;
    margin: 30px auto;
    padding-top: 50px;
}

.Order_Form_7-container {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 1000px;
    align-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    display: flex;
    height: 400px;
    flex-direction: column;
}

.Order_Form_7-header-top h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
}

.Order_Form_7-header-bottom h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}

.Order_Form_7-numbers {
    display: inline-block;
}

.Order_Form_7-header p {
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
}

.Order_Form_7-date-picker {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Order_Form_7-tac p {
    font-size: 14px;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 10px;
}

.Order_Form_7-buttons {
    display: flex;
}

.Order_Form_7-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transform: translateX(400px);
}

.Order_Form_7-button-back {
    background-color: #179ad3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
}

.Order_Form_7-button-next {
    background-color: #179ad3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
}

.Order_Form_7-button-back:hover {
    background-color: red;
    transition: 200ms;
}

.Order_Form_7-button-next:hover {
    background-color: green;
    transition: 200ms;
}

.form-check-pick {
    margin-left: 30px;
    display: inline-block;
}

.form-check-rush {
    display: inline-block;
} 

.Order_Form_7-header p{
    font-size: 14px;
    font-weight: bold;
}

.Order_Form_7-checkboxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Order_Form_7-header-number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}