.order-details-main {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    margin: 2rem;
    gap: 5rem;
    align-items: flex-start;
}

.cancel-button{
    margin: 20px 0 30px 0;
}

.cancelation-clause{
    text-align: left;
}

.order-first-col {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 225px;
}

.order-details-main h1 {
    font-weight: bold;
}

.order-div {
    display: flex;
    flex-direction: column;
    background-color: #d8ecf5;
    width: 650px;
    height: auto;
    border-radius: 2rem;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.payment-status-div {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2rem;
    align-items: center;
    padding: 2rem 0 2rem 0;
    width: 50%;
    height: 100%;
    gap: 2rem;
}

.payment-details {
    display: flex;
    flex-direction: column;
    background-color: #d8ecf5;
    width: 650px;
    height: 670px;
    border-radius: 2rem;
    align-items: center;
    padding: 2rem 0 2rem 0;
    width: 100%;
    height: 50%;
}

.order-status {
    display: flex;
    flex-direction: column;
    background-color: #d8ecf5;
    width: 650px;
    height: 670px;
    border-radius: 2rem;
    align-items: center;
    padding: 2rem 0 2rem 0;
    width: 100%;
    height: 50%;
}

.white-inner-div1 {
    padding: 2rem;
    display: flex;
    background-color: white;
    height: 90%;
    width: 90%;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
    border-radius: 2rem;
    font-size: large;
    margin-bottom: 1rem;

}

.white-inner-div2 {
    padding: 2rem;
    display: flex;
    background-color: white;
    height: 90%;
    width: 90%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2rem;
    font-size: large;
    margin-bottom: 1rem;

}

.white-inner-div1,
.white-inner-div2 span {
    border-radius: 2rem;
    border-color: gray;
}

.order-details-customer-footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    /* bottom: 80px; */
    /* right: 20px; */
    width: 90%;
}

.order-status-button-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.timeline-order {
    width: 600px;
    height: 20px;
    list-style: none;
    text-align: center;
    margin: 110px auto 100px auto;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(51%, rgb(0, 0, 0)), color-stop(57%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgb(0, 0, 0) 51%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
}

.timeline-order li {
    display: inline-block;
    width: 200px;
    height: 20px;
    background: gray;
    text-align: center;
    line-height: 1.2;
    position: relative;
    border-radius: 50%;
}

.timeline-order .pending {
    display: inline-block;
    width: 200px;
    height: 20px;
    background: #267e3a;
    text-align: center;
    line-height: 1.2;
    position: relative;
    border-radius: 50%;
}

.timeline-order li:before {
    display: inline-block;
    content: attr(status);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.timeline-order li:nth-child(odd):before {
    top: -70px;
}

.timeline-order li:nth-child(even):before {
    bottom: -70px;
}

.order-details-table {
    /*style this table nicely*/
    border-collapse: collapse;
    background-color: white;
    width: 90%;
    height: auto;
    margin: 1rem 0 1rem 0;
    border-radius: 0.5rem;
}

td {
    vertical-align: bottom;
}

.order-table-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.btn-view-order {
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background: #53c46d;
    width: 100%;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.btn-view-invite {
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background: #53c46d;
    width: 100%;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.accDetail-body-field-od {
    float: left;
    width: 50%;
    padding: 1rem;
}

.btn-view-invite-od {
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background: #53c46d;
    width: 100%;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.btn-view-order-od {
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background: #53c46d;
    width: 100%;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.order-details-footer-od {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    /* bottom: 80px; */
    /* right: 20px; */
    width: 90%;
}

.order-div-bottom {
    display: flex;
    flex-direction: column;
    background-color: #d8ecf5;
    width: 100%;
    height: 50%;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    margin-top: 15px;
}

.order-details-table-od {
    border-collapse: collapse;
    background-color: white;
    width: 650px;
    height: auto;
    margin: 1rem 0 1rem 0;
    border-radius: 0.5rem;
}

.btn-edit-order-items {
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background: #53c46d;
    width: 100%;
    transition: all .3s;
}