.order-being-confirmed-frame {
    display: flex;
    margin: 2rem auto auto auto;
    background-color: #d8ecf5;
    height: 710px;
    width: 1000px;
    border-radius: 2rem;
    flex-direction: column;
    padding: 3rem;
}

.order-being-confirmed-footer {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 5%;
    right: 25%;

}

.order-being-confirmed-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.order-being-confirmed-force-row {
    display: flex;
    flex-direction: row;
}

.order-being-confirmed-p {
    width: 200px;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0;
    margin: 220px 0 190px 0;
}

.pending {
    color: #267e3a;
}

.order-being-confirmed-pending {
    width: 200px;
    text-align: center;
    border-bottom: 1px solid #267e3a;
    line-height: 0.1em;
    margin: 220px 0 190px;
}

.order-being-confirmed-p span {
    /* padding: 0 10px; */
    background: #a1d0e4;
    font-weight: bold;
}

.force-center-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}