.Order_Form_5-page-example {
    border-radius: 20px;
    background: #ffffff;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin: 1rem;
}

.Order_Form_5-pages {
    overflow-y: auto;
}

.Order_Form_5-pages-top {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    max-width: 100%;
}

.Order_Form_5-pages-bottom{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    max-width: 100%;
}

.text-bg {
    border-radius: 40px;
    background: white;
}

.Order_Form_5-page-example img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.Order_Form_5-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    background-color: #179ad3;
    border-radius: 15px;
    width: 80%;
}

.Order_Form_5-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Order_Form_5-dropdown p{
    display: inline;
    margin-top: 14px;
    font-weight: bold;
    color: white;
}

.Order_Form_5-dropdown select {
    display: inline;
    margin-left: 10px;
    width: 10%;
}

.Order_Form_5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.Order_Form_5-footer {
    margin-top: 20px;
}

.Order_Form_5-button-back {
    background-color: #179ad3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
}

.Order_Form_5-button-next {
    background-color: #179ad3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
}

.Order_Form_5-button-back:hover {
    background-color: red;
    transition: 200ms;
}

.Order_Form_5-button-next:hover {
    background-color: green;
    transition: 200ms;
}

.Order_Form_5-buttons-bottom {
    transform: translateX(245%);
}

.Order_Form_5-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.Order_Form_5-button-page-back {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
}

.Order_Form_5-button-page-next {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
}

.Order_Form_5-button-page-back:hover {
    background-color: red;
    transition: 200ms;
}

.Order_Form_5-button-page-next:hover {
    background-color: green;
    transition: 200ms;
}

.Order_Form_5-pages-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}