.shipping-address-frame {
    display: flex;
    margin: 2rem auto auto auto;
    background-color: #d8ecf5;
    height: 710px;
    width: 1000px;
    border-radius: 2rem;
    flex-direction: column;
    padding: 3rem;
}

.header {
    margin-bottom: 3rem;
}

.address-details {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem
}

.long-textfield {
    width: 620px;
}

.shipping-footer {
    margin-top: 2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    text-align: center;
    gap: 1rem;
    position: relative;
    top: 150px;
    left: 200px;
}