.profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem;
    flex-wrap: nowrap;
}

.profile-div {
    display: flex;
    padding: 2rem;
    margin: 2rem auto auto auto;
    background-color: #d8ecf5;
    height: 90%;
    width: 70%;
    border-radius: 2rem;
    justify-content: space-evenly;
}

.create-staff-form {
    display: flex;
    flex-direction: column;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.btn-create-saco {
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background: #53c46d;
    width: 100%;
    transition: all .3s;
    display: inline-block;
}

.btn-cancel-saco {
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background: #53c46d;
    width: 100%;
    transition: all .3s;
    display: inline-block;
}

.saco-form {
    display: flex;
    flex-grow: 1;
    padding-bottom: 1rem;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-left: 20px;
}