.termsAndConditions-body {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.termsAndConditions-main {
    font-size: 14px;
    line-height: 20px;
    background-color: #f5f5f5;
    border-radius: 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 5rem auto auto auto;
    padding: 19px 29px 29px;
    width: 1000px;

}

.termsAndConditions-btn {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    justify-content: flex-end;
}

.tAC-btn {
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background: #53c46d;
    width: 20%;
    transition: all .3s;
    display: inline-block;
    margin: 10px;
}

.tAC-btn:hover {
    background: #53c46d;
    color: #ffffff;
}

.tAC-btn-cancel {
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
    background: #ffffff;
    width: 20%;
    transition: all .3s;
    display: inline-block;
}

.tAC-btn-cancel:hover {
    background: white;
    color: red;
}